*{
    margin: 0
}

.Header{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 90%;
    height: 30%;
    border: 1px solid teal;
    align-content: space-between;
}

.User-logo{
    width: 5%;
    height: 5%;
    margin-top: 2%;
    margin-left: 2%;
}